#################################################
# Application
#################################################

NODE_ENV=production
PORT=3000
LOCAL_SECRET=


BULLBOARD_USER=bull_user
BULLBOARD_PASSWORD=bull_pass

#################################################
# JWT
#################################################

JWT_SECRET=
JWT_EXPIRES_IN=86400

#################################################
# PostgreSQL
#################################################

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_URL=
DATABASE_DIRECT_URL=
#################################################
# Redis
#################################################

REDIS_HOST=redis
REDIS_PORT=6379



#################################################
# OpenAI
#################################################

OPENAI_API_KEY=

#################################################
# Telegram
#################################################

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

#################################################
# Bale
#################################################

BALE_BOT_TOKEN=
BALE_CHAT_ID=
