# dependencies
node_modules

# build output
dist

# logs
npm-debug.log
yarn-error.log

# environment
.env
.env.*
!.env.example

# git
.git
.gitignore

IaC

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# testing
coverage

# prisma cache
node_modules/.prisma


src/shared/infrastructure/database/prisma/client